{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
            <header class="entry-header">
                <h1>{{ .Title | markdownify }}</h1>
            </header>
            <section class="entry-content">
                <p>{{ .Content | markdownify }}</p>
            </section>
            <footer class="entry-footer">
                {{ partial "social_icons.html" $.Site.Params.socialIcons }}
            </footer>
        </div>
        <div style="width: 10rem; overflow: hidden;">
            <img src="images/profile.png" style="border-radius: 50%;" />
        </div>
    </div>
</article>
{{- end -}}
