{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info" style="display: flex; flex-direction: column; justify-content: center;">
  <div style="display: flex; flex-direction: row; justify-content: space-between">
  <div>
    <header class="entry-header" style="margin: 0;">
      <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content">
      {{- trim .Content "\n" | markdownify -}}
    </section>
    <footer class="entry-footer">
      {{- partial "social_icons.html" (dict "icons" site.Params.socialIcons "svg" $.Site.Data.svg "MaskedEmail" site.Params.MaskedEmail "Email" site.Params.Email) -}}
    </footer>
  </div>
  <img src="images/profile.webp" style="width: 10rem; overflow: hidden;border-radius: 50%;" alt="profile picture"/>
</div>
</article>
{{- end -}}
